<!-- footer.component.html -->
<footer class="bg-light text-center text-lg-start mt-4">
    <div class="container p-4">
      <div class="row">
        <!-- About Section -->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">About Us</h5>
          <p>
            This is a demo e-commerce website for a liquor store. We offer the best selection of wines, liquors, and beers.
          </p>
        </div>
  
        <!-- Links Section -->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Useful Links</h5>
          <ul class="list-unstyled mb-0">
            <li><a href="#" class="text-dark">Contact Us</a></li>
            <li><a href="#" class="text-dark">Privacy Policy</a></li>
            <li><a href="#" class="text-dark">Terms of Service</a></li>
          </ul>
        </div>
  
        <!-- Social Media Links Section -->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Follow Us</h5>
          <ul class="list-unstyled mb-0">
            <li><a href="#" class="text-dark">Facebook</a></li>
            <li><a href="#" class="text-dark">Twitter</a></li>
            <li><a href="#" class="text-dark">Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
  
    <!-- Copyright -->
    <div class="text-center p-3 bg-dark text-white">
      © 2024 Liquor Store - All Rights Reserved
    </div>
  </footer>
  